In [34]:
import pandas as pd

url = 'https://raw.githubusercontent.com/DaniloSovano/Sistema_de_Varejo/refs/heads/main/base_de_varejo.csv'
data = pd.read_csv(url)

#Substitui as virgulas(,) por pontos(.)
data = data.replace(',', '.',regex = True)

 # Criar colunas de lucro total para cada mês
meses = ['JAN', 'FEV', 'MAR', 'ABR', 'MAI', 'JUN', 'JUL', 'AGO', 'SET', 'OUT', 'NOV', 'DEZ']
    
lucro_bruto= {}
lucro_liquido= {}
despesas = {}

#Cria uma copia do dataframe para não alterar o original
data_copy = data.copy()

def calcular_lucro_total(data_copy):
    # Converter colunas para valores numéricos
    data_copy['VV'] = pd.to_numeric(data_copy['VV'], errors='coerce')
    data_copy['VC'] = pd.to_numeric(data_copy['VC'], errors='coerce')
    data_copy['QUANT'] = pd.to_numeric(data_copy['QUANT'], errors='coerce')

   
    
    for mes in meses:
        # Calcular despesas
        despesas[mes] = (data_copy['VC'] * data_copy[mes]).sum()
        lucro_bruto[mes] = (data_copy['VV'] * data_copy[mes]).sum()
        lucro_liquido[mes] = "{:.2f}".format((lucro_bruto[mes] - despesas[mes]) / lucro_bruto[mes] * 100)

    # Criar um Data_Frame com as somas mensais
    return data_copy,despesas,lucro_bruto

calcular_lucro_total(data_copy)

(        PROD  QUANT   VC    VV  JAN  FEV  MAR  ABR  MAI  JUN  JUL  AGO  SET  \
 0      Arroz    150  3.0   3.7   12   15   15   17   20   19   14   11    8
 1     Feijao    150  2.5   5.1   10    8    7    8   10   12   15   14   15
 2   Macarrao    100  1.2   2.0    8    8    8    8    7    7    7    6   12
 3     Batata    300  0.2   0.5   20   19   23   30   25   20   15   17   22
 4     Tomate    320  0.3   0.6   25   26   22   21   20   15   17   22   25
 5    Cenoura    280  0.2   0.4   10   15   23   30   20   25   17   15   22
 6       Cafe     70  2.8   3.2    2    3    7    9   10    8    6    5    4
 7      Leite     80  1.0   1.5    3    4    8   10   11    9    7    6    5
 8     Acucar     60  1.7   2.0    3    3    6    7    8    5    6    6    7
 9      Carne    150  7.0  10.9   10   17   13   15   18   15   16   11    8
 10     Peixe    180  3.8   7.9    9   20   22   21   20   17   16   11    8
 11    Frango    200  3.5   6.7   16   17   15   18   19   18   20   23   15

     OUT  NOV  DEZ
 0     6    5    5
 1    11    8    8
 2     8    8   10
 3    30   29   27
 4    30   35   40
 5    29   27   30
 6     4    5    7
 7     5    6    6
 8     3    3    3
 9     6    7   10
 10    6    7    7
 11   12   15   12  ,
 {'JAN': 258.0,
  'FEV': 361.2,
  'MAR': 352.79999999999995,
  'ABR': 393.8,
  'MAI': 429.5,
  'JUN': 381.4,
  'JUL': 376.2,
  'AGO': 317.7,
  'SET': 259.20000000000005,
  'OUT': 204.0,
  'NOV': 219.49999999999997,
  'DEZ': 239.7},
 {'JAN': 444.6,
  'FEV': 622.2,
  'MAR': 603.5,
  'ABR': 667.1,
  'MAI': 717.5,
  'JUN': 642.0000000000001,
  'JUL': 643.3,
  'AGO': 549.7,
  'SET': 450.09999999999997,
  'OUT': 358.4,
  'NOV': 384.7,
  'DEZ': 410.9})

In [58]:
despesas_mensais = {}
lucro_bruto_mensal = {}
#lucro bruto mensal 
#despesas mensais
# Falta só verificar o produto com maior e menor lucro que ele pede no pdf 
for mes in meses:
    despesas_mensais[mes] = (data_copy['VC'] * data_copy[mes])
    lucro_bruto_mensal[mes] = (data_copy['VV'] * data_copy[mes])


df_resultado = pd.DataFrame({
    "Despesas": {mes: list(valor) for mes, valor in despesas_mensais.items()},
    "Lucro Bruto": {mes: list(valor) for mes, valor in lucro_bruto_mensal.items()}
})
df_resultado = df_resultado.map(lambda x: [f"{v:.2f}" for v in x])

print(df_resultado)

                                              Despesas  \
JAN  [36.00, 25.00, 9.60, 4.00, 7.50, 2.00, 5.60, 3...
FEV  [45.00, 20.00, 9.60, 3.80, 7.80, 3.00, 8.40, 4...
MAR  [45.00, 17.50, 9.60, 4.60, 6.60, 4.60, 19.60, ...
ABR  [51.00, 20.00, 9.60, 6.00, 6.30, 6.00, 25.20, ...
MAI  [60.00, 25.00, 8.40, 5.00, 6.00, 4.00, 28.00, ...
JUN  [57.00, 30.00, 8.40, 4.00, 4.50, 5.00, 22.40, ...
JUL  [42.00, 37.50, 8.40, 3.00, 5.10, 3.40, 16.80, ...
AGO  [33.00, 35.00, 7.20, 3.40, 6.60, 3.00, 14.00, ...
SET  [24.00, 37.50, 14.40, 4.40, 7.50, 4.40, 11.20,...
OUT  [18.00, 27.50, 9.60, 6.00, 9.00, 5.80, 11.20, ...
NOV  [15.00, 20.00, 9.60, 5.80, 10.50, 5.40, 14.00,...
DEZ  [15.00, 20.00, 12.00, 5.40, 12.00, 6.00, 19.60...

                                           Lucro Bruto
JAN  [44.40, 51.00, 16.00, 10.00, 15.00, 4.00, 6.40...
FEV  [55.50, 40.80, 16.00, 9.50, 15.60, 6.00, 9.60,...
MAR  [55.50, 35.70, 16.00, 11.50, 13.20, 9.20, 22.4...
ABR  [62.90, 40.80, 16.00, 15.00, 12.60, 12.00, 28....
MAI  [74.00, 51.00, 14.00, 12.50, 12.00, 8.00, 32.0...
JUN  [70.30, 61.20, 14.00, 10.00, 9.00, 10.00, 25.6...
JUL  [51.80, 76.50, 14.00, 7.50, 10.20, 6.80, 19.20...
AGO  [40.70, 71.40, 12.00, 8.50, 13.20, 6.00, 16.00...
SET  [29.60, 76.50, 24.00, 11.00, 15.00, 8.80, 12.8...
OUT  [22.20, 56.10, 16.00, 15.00, 18.00, 11.60, 12....
NOV  [18.50, 40.80, 16.00, 14.50, 21.00, 10.80, 16....
DEZ  [18.50, 40.80, 20.00, 13.50, 24.00, 12.00, 22....